<h1>Information About <%= @animal.kind_of_animal.pluralize %></h1>
<h2>Farmers Who Own <%= @animal.kind_of_animal.pluralize %></h2>
<ul>
    <% @animal.farmer_animals.each do |farmer_animal| %>
        <li>
            Farmer Username:<a href="/farmers/<%= farmer_animal.farmer.slug %>"><%= farmer_animal.farmer.username %></a>
            <br> 
            Quantity of Animal that this Farmer Owns: <%= farmer_animal.quantity %>
        </li>
        <br>
    <% end %>
</ul>
<h3>Links</h3>
<a href="/animals">Animal Index</a>
<br>
<a href="/farmers">Farmer Index</a>