<h1><%= @farmer.username.capitalize %>'s Personal Page</h1>
<h2>Kinds of Animals</h2>
<ul>
    <% @farmer.farmer_animals.each do |farmer_animal| %>
        <li>
            Kind of Animal:<a href="/animals/<%= farmer_animal.animal.slug %>"><%= farmer_animal.animal.kind_of_animal %></a>
            <br> 
            Quantity of Animal: <%= farmer_animal.quantity %>
        </li>
        <br>
    <% end %>
</ul>
<a href="/farmers/<%= @farmer.slug %>/edit">Edit Farmer</a>
<br>
<a href="/farmers/logout">Log Out</a>
<br>
<h3>Links</h3>
<a href="/animals">Animal Index</a>
<br>
<a href="/farmers">Farmer Index</a>